<h1>Edit <%= @winery.name %></h1>

<%= form_for @winery do |f| %>

    <%= f.label "Choose a region:" %>
    <%= f.collection_select :region_id, Region.all, :id, :name, include_blank: true %>

    <p>Or create a new region: 
        <%= f.fields_for :region do |r| %>
            <%= r.text_field :name %>
        <% end %>
    </p>
    
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :website %>
    <%= f.text_field :website %><br><br>

    <%= f.label :phone %>
    <%= f.telephone_field :phone %><br><br>

    <%= f.label :description %>
    <%= f.text_field :description %><br><br>

    <%= f.submit %>

<% end %>