<h1><%= @winery.name %></h1>
<h4>Region: <%= @winery.region.try(:name) %></h4>

<h5>Phone Number: <%= @winery.phone %></h5>
<h5>Website: <%= link_to_if @winery.website.present?, @winery.website, url_checker(@winery.website), :target => "_blank" %></h5>
<div>Description: <%= @winery.description %></div>




<h4>By: <%= @winery.user.username %></h4>
<% if @winery.user == current_user %>
    <h4><%= link_to "Edit Winery", edit_winery_path(@winery) %></h4>
<% end %>

</p>
<p><%= link_to 'Add a new comment', new_winery_comment_path(@winery) %> </p>


<% if !@winery.comments.empty? %>
    <p><%= link_to 'See all comments', winery_comments_path(@winery) %> </p>
    <h4>Most recent comments:</h4>
    <% @winery.comments.each do |c| %>
        <li><strong><%= c.user.username %></strong> says "<%= link_to c.content, winery_comments_path(@winery, c)%>" at <%= c.updated_at.strftime("%I:%M %p on %m/%d/%Y") %></li>
    <% end %>
<% end %>